html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #4a8d53;
}

.projects {
	color: #dfdfdf;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #4a8d53;
}

.section-2 {
	margin: 1rem;
	border-radius: 1rem;
	background-color: #274d2c;
}

.section-3 {
	margin: 1rem;
	background-color: #274d2c;
	border-radius: 1rem;
}

.section-4 {
	background-color: #274d2c;
	padding: 0.2rem;
	border-radius: 1rem;
}

.section-5 {
	margin: 1rem;
	background-color: #274d2c;
	border-radius: 1rem;
}

a.nav-item {
	color: #dfdfdf;
	transform: scale(100%);
	transition-duration: 400ms;
	transition-property: transform;
}

a.nav-item:hover {
	color: #fff;
	transform: scale(200%);
	transition-duration: 400ms;
	transition-property: transform;
}

.avatar{
	height:350px;
	border-style: solid;
	border-width: 0.3rem;
	border-color: #274d2c;
	border-radius: 1rem;
	box-shadow: 0rem 0rem 100px #bcd1be;
}

.intro-description{
	padding-top: 1rem;
}

ul {
	list-style-type: disc;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-left: 1rem;
}

.italics {
	color: #979797;
}

.social-container img{
	max-width:100%;
	max-height:150px;
	margin-bottom:15px;
	filter: grayscale(100%);
	transform: scale(100%);
	transition-duration: 400ms;
	transition-property: transform, filter;
}

.social-container img:hover {
	max-width:100%;
	max-height:150px;
	margin-bottom:15px;
	filter: grayscale(10%);
	transform: scale(120%);
	transition-duration: 400ms;
	transition-property: transform, filter;
}

.linkedin {
	grid-column: 1 / span 1;
}

.twitter {
	grid-column: 2 / span 1;
}

.replit{
	grid-column: 3 /span 1;
}

.medium {
	grid-column: 4 / span 1;
}

.social-container {
	display: inline-grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100%;
	justify-content: space-around;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}
.name {
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.intro-description {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
